@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@using IoT.Data;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var url = page.GetBaseUrl(true, true, false, new[] { "sample" });
}
<div class="form-group">
    <a href="?@url">原始数据</a> &nbsp;
    <a href="?@url&sample=60">每分钟</a> &nbsp;
    <a href="?@url&sample=900">每15钟</a> &nbsp;
    <a href="?@url&sample=3600">每小时</a> &nbsp;
</div>
